

a, p, h1, h3, h4, h5, input, label, span {
    color: #3E2412 !important;
    font-family: 'Exo', sans-serif !important;
}
i{
 color: #3E2412 !important;   
}

.btn-primary, .btn-secondary {
    background-color: white !important;
    border-color: #BB6A26 !important;
    color: #884B16 !important;
    
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #884B16 !important;
    border-color: #BB6A26 !important;
    color: #FFF5B9 !important;
    
}

.modal {
    background-color: rgba(62, 36 ,18, 0.7);
    
}

.form-control{
    border-color: #BB6A26!important;
    
}

.footer{
    background-color: #FFF5B9;
    border-top:2px solid;
    border-color: #BB6A26;
    
}

